<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greehousecontroller">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_leaf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_leaf_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreehouseController.NoActionBar"
        android:usesCleartextTraffic="true">
        <!-- since api is http -->

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".GreenHouseIdActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".LogInActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>